django
django-admin
python-social-auth
psycopg2-binary
jenkinsapi==0.3.10
slacker
loguru
social-auth-app-django
django-tinymce
celery==4.4.0
django-celery-beat
pymongo
rabbitmq
django-import-export
django-ckeditor
django-debug-toolbar
pyppeteer
django-timezone-field==4.0
pandas
SQLAlchemy
XlsxWriter
xmltodict
requests-html
aspell-python-py3
django-maintenance-mode
djangorestframework==3.11.1
drf-yasg
gspread
django-user-activity-log2
opencv-python
pysftp
redis
django-redis
flower
jira
